In [88]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

Import Libraries

In [89]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import missingno as mso

Import Titles

In [90]:
paramount_titles = pd.read_csv('/content/drive/MyDrive/ML datasets/mrs/archive/titles.csv')
disney_titles = pd.read_csv('/content/drive/MyDrive/ML datasets/mrs/archive-2/titles.csv')
appletv_titles = pd.read_csv('/content/drive/MyDrive/ML datasets/mrs/archive-3/titles.csv')
amazonprime_titles = pd.read_csv('/content/drive/MyDrive/ML datasets/mrs/archive-4/titles.csv')
hbo_titles = pd.read_csv('/content/drive/MyDrive/ML datasets/mrs/archive-5/titles.csv')
netflix_titles = pd.read_csv('/content/drive/MyDrive/ML datasets/mrs/archive-6/titles.csv')

Concatenation

In [91]:
titles = pd.concat([paramount_titles, disney_titles, appletv_titles, amazonprime_titles, hbo_titles, netflix_titles], axis=0).reset_index()
titles.drop(['index'], axis=1, inplace=True)

In [92]:
titles[titles.duplicated() == True].head(5)

,id,title,type,description,release_year,age_certification,runtime,genres,production_countries,seasons,imdb_id,imdb_score,imdb_votes,tmdb_popularity,tmdb_score
3490,ts6600,Doug,SHOW,Doug Funnie experiences common predicaments wh...,1991,TV-Y7,24,"['animation', 'comedy', 'drama', 'family', 'fa...",['US'],8.0,tt10422382,7.4,19367.0,34.717,7.300
4088,tm145734,Planes: Fire & Rescue,MOVIE,When world-famous air racer Dusty learns that ...,2014,PG,83,"['comedy', 'documentation', 'family', 'sport',...",['US'],NaN,tt2980706,6.0,17741.0,27.623,6.100
4257,ts70709,China From Above,SHOW,China is a land of immense scale and diversity...,2015,TV-PG,44,['documentation'],['US'],2.0,tt4872012,7.8,121.0,1.984,5.200
5033,tm1075680,World's Most Dangerous Shark?,MOVIE,"The Great White has a scary reputation, but Ex...",2023,PG-13,44,['documentation'],[],NaN,NaN,NaN,NaN,1.623,NaN
5046,tm134144,The Italian Job,MOVIE,Charlie Croker pulled off the crime of a lifet...,2003,PG-13,111,"['action', 'crime', 'thriller']","['IT', 'GB', 'US']",NaN,tt0317740,7.0,374255.0,22.235,6.752

In [93]:
titles.drop_duplicates(inplace=True)

In [94]:
titles.head()

,id,title,type,description,release_year,age_certification,runtime,genres,production_countries,seasons,imdb_id,imdb_score,imdb_votes,tmdb_popularity,tmdb_score
0,tm65789,Sunset Boulevard,MOVIE,A hack screenwriter writes a screenplay for a ...,1950,PG,110,['drama'],['US'],NaN,tt0043014,8.4,224704.0,18.431,8.366
1,tm83884,His Girl Friday,MOVIE,"Hildy, the journalist former wife of newspaper...",1940,NaN,92,"['drama', 'romance', 'comedy']",['US'],NaN,tt0032599,7.8,60244.0,14.759,7.433
2,tm5012,Red River,MOVIE,Headstrong Thomas Dunson starts a thriving Tex...,1948,NaN,133,"['western', 'drama', 'romance', 'action']",['US'],NaN,tt0040724,7.8,32210.0,12.400,7.400
3,tm19248,The General,MOVIE,"During America’s Civil War, Union spies steal ...",1926,NaN,79,"['comedy', 'drama', 'action', 'war', 'western'...",['US'],NaN,tt0017925,8.1,92935.0,12.316,8.009
4,tm122846,The Kid,MOVIE,A tramp cares for a boy after he's abandoned a...,1921,NaN,68,"['comedy', 'drama', 'family']",['US'],NaN,tt0012349,8.3,128096.0,14.865,8.212

Filter Movies

In [95]:
movies = titles[titles['type'] == 'MOVIE'].copy().reset_index()
movies.drop(['index'], axis=1, inplace=True)

In [96]:
movies = movies.drop(['seasons'], axis=1)

In [97]:
movies.head()

,id,title,type,description,release_year,age_certification,runtime,genres,production_countries,imdb_id,imdb_score,imdb_votes,tmdb_popularity,tmdb_score
0,tm65789,Sunset Boulevard,MOVIE,A hack screenwriter writes a screenplay for a ...,1950,PG,110,['drama'],['US'],tt0043014,8.4,224704.0,18.431,8.366
1,tm83884,His Girl Friday,MOVIE,"Hildy, the journalist former wife of newspaper...",1940,NaN,92,"['drama', 'romance', 'comedy']",['US'],tt0032599,7.8,60244.0,14.759,7.433
2,tm5012,Red River,MOVIE,Headstrong Thomas Dunson starts a thriving Tex...,1948,NaN,133,"['western', 'drama', 'romance', 'action']",['US'],tt0040724,7.8,32210.0,12.400,7.400
3,tm19248,The General,MOVIE,"During America’s Civil War, Union spies steal ...",1926,NaN,79,"['comedy', 'drama', 'action', 'war', 'western'...",['US'],tt0017925,8.1,92935.0,12.316,8.009
4,tm122846,The Kid,MOVIE,A tramp cares for a boy after he's abandoned a...,1921,NaN,68,"['comedy', 'drama', 'family']",['US'],tt0012349,8.3,128096.0,14.865,8.212

Handling the 'genres' and 'production_countries' columns

In [98]:
movies['genres'] = movies['genres'].str.replace(r'[', '').str.replace(r"'", '').str.replace(r']', '')
movies['genre'] = movies['genres'].str.split(',').str[0]

<ipython-input-98-9f298c0bc36d>:1: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  movies['genres'] = movies['genres'].str.replace(r'[', '').str.replace(r"'", '').str.replace(r']', '')

In [99]:
movies['production_countries'] = movies['production_countries'].str.replace(r'[', '').str.replace(r"'", '').str.replace(r']', '')
movies['production_country'] = movies['production_countries'].str.split(',').str[0]

<ipython-input-99-49fe2a123a9e>:1: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  movies['production_countries'] = movies['production_countries'].str.replace(r'[', '').str.replace(r"'", '').str.replace(r']', '')

In [100]:
movies.drop(['genres', 'production_countries'], axis=1, inplace=True)

In [101]:
movies.head()

,id,title,type,description,release_year,age_certification,runtime,imdb_id,imdb_score,imdb_votes,tmdb_popularity,tmdb_score,genre,production_country
0,tm65789,Sunset Boulevard,MOVIE,A hack screenwriter writes a screenplay for a ...,1950,PG,110,tt0043014,8.4,224704.0,18.431,8.366,drama,US
1,tm83884,His Girl Friday,MOVIE,"Hildy, the journalist former wife of newspaper...",1940,NaN,92,tt0032599,7.8,60244.0,14.759,7.433,drama,US
2,tm5012,Red River,MOVIE,Headstrong Thomas Dunson starts a thriving Tex...,1948,NaN,133,tt0040724,7.8,32210.0,12.400,7.400,western,US
3,tm19248,The General,MOVIE,"During America’s Civil War, Union spies steal ...",1926,NaN,79,tt0017925,8.1,92935.0,12.316,8.009,comedy,US
4,tm122846,The Kid,MOVIE,A tramp cares for a boy after he's abandoned a...,1921,NaN,68,tt0012349,8.3,128096.0,14.865,8.212,comedy,US

In [102]:
movies['genre'].unique()

array(['drama', 'western', 'comedy', 'action', 'romance', 'thriller',
       'horror', 'documentation', 'music', 'crime', '', 'fantasy', 'war',
       'history', 'scifi', 'animation', 'family', 'reality', 'sport',
       'european'], dtype=object)

In [103]:
movies['production_country'].unique()

array(['US', 'GB', 'DE', '', 'IT', 'FR', 'HK', 'PR', 'JP', 'KR', 'ES',
       'CA', 'IE', 'ZA', 'AU', 'IL', 'YU', 'DK', 'BR', 'CZ', 'CN', 'IR',
       'TH', 'PL', 'RU', 'CO', 'AF', 'KE', 'TW', 'AR', 'SB', 'CU', 'BS',
       'NO', 'NZ', 'FI', 'PH', 'NI', 'SE', 'CH', 'IS', 'BM', 'TR', 'BE',
       'GR', 'SK', 'IN', 'CI', 'AT', 'BW', 'MX', 'SU', 'MA', 'RO', 'MC',
       'EG', 'LI', 'PT', 'NL', 'ID', 'VE', 'XC', 'BG', 'CL', 'LU', 'DO',
       'AE', 'JM', 'RS', 'LT', 'UA', 'KZ', 'NG', 'UY', 'MT', 'VN', 'BO',
       'SG', 'GE', 'TT', 'HU', 'MY', 'PK', 'BY', 'PE', 'XK', 'TC', 'LB',
       'NP', 'MN', 'CR', 'PA', 'UZ', 'NA', 'KH', 'QA', 'CM', 'EE', 'LV',
       'SY', 'PF', 'HN', 'TN', 'EC', 'BD', 'MK', 'DZ', 'SN', 'GT', 'ET',
       'PS', 'CD', 'SA', 'GL', 'JO', 'KW', 'PY', 'IQ', 'TZ', 'KG', 'BT',
       'AO', 'GH', 'ZW', 'MW', 'MU', 'FO'], dtype=object)

In [104]:
movies['genre'] = movies['genre'].replace('', np.nan)
movies['production_country'] = movies['production_country'].replace('', np.nan)

Clean the Data

In [105]:
movies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17739 entries, 0 to 17738
Data columns (total 14 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   id                  17739 non-null  object
 1   title               17739 non-null  object
 2   type                17739 non-null  object
 3   description         17602 non-null  object
 4   release_year        17739 non-null  int64
 5   age_certification   6988 non-null   object
 6   runtime             17739 non-null  int64
 7   imdb_id             16148 non-null  object
 8   imdb_score          15695 non-null  float64
 9   imdb_votes          15638 non-null  float64
 10  tmdb_popularity     17213 non-null  float64
 11  tmdb_score          15465 non-null  float64
 12  genre               17497 non-null  object
 13  production_country  16845 non-null  object
dtypes: float64(4), int64(2), object(8)
memory usage: 1.9+ MB

In [106]:
movies.drop(['age_certification', 'imdb_id'], axis=1, inplace=True)

In [107]:
movies.dropna(inplace=True)

In [108]:
movies.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 13831 entries, 0 to 17737
Data columns (total 12 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   id                  13831 non-null  object
 1   title               13831 non-null  object
 2   type                13831 non-null  object
 3   description         13831 non-null  object
 4   release_year        13831 non-null  int64
 5   runtime             13831 non-null  int64
 6   imdb_score          13831 non-null  float64
 7   imdb_votes          13831 non-null  float64
 8   tmdb_popularity     13831 non-null  float64
 9   tmdb_score          13831 non-null  float64
 10  genre               13831 non-null  object
 11  production_country  13831 non-null  object
dtypes: float64(4), int64(2), object(6)
memory usage: 1.4+ MB

Content Based Recommender

In [109]:
lt = []
for i in movies['id']:
    movie_streaming = []
    if i in amazonprime_titles['id'].values:
        movie_streaming.append('amazon')
    if i in appletv_titles['id'].values:
        movie_streaming.append('appletv')
    if i in disney_titles['id'].values:
        movie_streaming.append('disney+')
    if i in hbo_titles['id'].values:
        movie_streaming.append('hbomax')
    if i in netflix_titles['id'].values:
        movie_streaming.append('netflix')
    if i in paramount_titles['id'].values:
        movie_streaming.append('paramount+')
    lt.append(movie_streaming)

In [110]:
movies['streaming_platform'] = lt

In [111]:
movies.head()

,id,title,type,description,release_year,runtime,imdb_score,imdb_votes,tmdb_popularity,tmdb_score,genre,production_country,streaming_platform
0,tm65789,Sunset Boulevard,MOVIE,A hack screenwriter writes a screenplay for a ...,1950,110,8.4,224704.0,18.431,8.366,drama,US,[paramount+]
1,tm83884,His Girl Friday,MOVIE,"Hildy, the journalist former wife of newspaper...",1940,92,7.8,60244.0,14.759,7.433,drama,US,"[amazon, paramount+]"
2,tm5012,Red River,MOVIE,Headstrong Thomas Dunson starts a thriving Tex...,1948,133,7.8,32210.0,12.400,7.400,western,US,"[amazon, paramount+]"
3,tm19248,The General,MOVIE,"During America’s Civil War, Union spies steal ...",1926,79,8.1,92935.0,12.316,8.009,comedy,US,"[amazon, paramount+]"
4,tm122846,The Kid,MOVIE,A tramp cares for a boy after he's abandoned a...,1921,68,8.3,128096.0,14.865,8.212,comedy,US,"[hbomax, paramount+]"

Term Frequency-Inverse Document Frequency

Term Frequency-Inverse Document Frequency (TF-IDF) is a numerical statistic used to reflect the importance of a word in a document or corpus. It is commonly used in natural language processing and information retrieval to represent text data.

The TF-IDF vector for a given document is computed by first tokenizing the text and removing stop words, and then calculating the term frequency (TF) of each word, which is simply the number of times the word appears in the document. The inverse document frequency (IDF) of each word is also calculated, which is a measure of how important the word is across the entire corpus. The IDF is calculated as the logarithm of the total number of documents in the corpus divided by the number of documents that contain the word.

The TF-IDF vector for each document is then obtained by multiplying the term frequency of each word in the document by the inverse document frequency of that word. This results in a vector that represents the importance of each word in the document relative to the entire corpus.

TF-IDF vectors can be used for a variety of tasks in natural language processing, such as text classification, clustering, and information retrieval. They provide a way to represent text data numerically, which can be useful for machine learning algorithms that require numerical input.

In [112]:
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import linear_kernel

In [113]:
tfidf = TfidfVectorizer(stop_words='english')
tfidf_matrix_movies = tfidf.fit_transform(movies['description'])

In [114]:
print(tfidf_matrix_movies.shape)

(13831, 35074)

Compute the cosine similarity score

In [115]:
cosine_sim_movies = linear_kernel(tfidf_matrix_movies, tfidf_matrix_movies)

Recommendations

In [140]:
movie_count = 13831

In [141]:
indices_movies = list(zip(list(movies['title']), range(movie_count)))
indices_movies[:5]

[('Sunset Boulevard', 0),
 ('His Girl Friday', 1),
 ('Red River', 2),
 ('The General', 3),
 ('The Kid', 4)]

In [142]:
def movie_recommendations(title, movies=movies, indices_movies=indices_movies, cosine_sim_movies=cosine_sim_movies):
  index = -1
  for item in indices_movies:
    if item[0] == title:
      index = item[1]
      break

  if index == -1:
    print('Title not found.')
    return

  print(f"Title: {movies['title'].iloc[index]} |  Year: {movies['release_year'].iloc[index]}")
  print('**' * 40)

  scores = list(enumerate(cosine_sim_movies[index]))
  scores = sorted(scores, key=lambda x: x[1], reverse=True)
  scores = scores[1:11]
  indices = [item[0] for item in scores]

  print(movies[['title', 'release_year','streaming_platform']].iloc[indices])
  print('**' * 40)
  return

In [149]:
movie_recommendations('The Dark Knight')

Title: The Dark Knight |  Year: 2008
********************************************************************************
                                                   title  release_year  \
13844               Batman: The Long Halloween, Part Two          2021
13848               Batman: The Long Halloween, Part One          2021
12987                              The Dark Knight Rises          2012
12148                                             Batman          1989
13277                           Batman: The Killing Joke          2016
13760                                         The Batman          2022
13395                         Batman: Gotham by Gaslight          2018
12391                                     Batman Forever          1995
12397                       Batman: Mask of the Phantasm          1993
14541  Lego DC Comics - Super Heroes: Batman Be-Leagu...          2014

      streaming_platform
13844           [hbomax]
13848           [hbomax]
12987           [hbomax]
12148           [hbomax]
13277           [hbomax]
13760           [hbomax]
13395           [hbomax]
12391           [hbomax]
12397           [hbomax]
14541          [netflix]
********************************************************************************

In [145]:
movie_recommendations('Creed')

Title: Creed |  Year: 2015
********************************************************************************
                     title  release_year             streaming_platform
558                  Rocky          1976  [amazon, netflix, paramount+]
898              Rocky III          1982  [amazon, netflix, paramount+]
562               Rocky II          1979  [amazon, netflix, paramount+]
7994              Creed II          2018               [amazon, hbomax]
1210          Rocky Balboa          2006           [amazon, paramount+]
895               Rocky IV          1985  [amazon, netflix, paramount+]
901                Rocky V          1990  [amazon, netflix, paramount+]
831    The Joe Louis Story          1953           [amazon, paramount+]
12455                Tyson          1995                       [hbomax]
16406  Wish Upon a Unicorn          2020                      [netflix]
********************************************************************************